@import "tailwindcss";

@font-face {
  font-family: 'Gambarino'; /* Puedes darle el nombre que quieras a la fuente */
  src: url('/fonts/Gambarino-Regular.otf') format('opentype'); /* La ruta relativa al directorio public */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('/fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #0a0a0a;
  --foreground: #F5F5ED;
  --redee: #f52ae7; 
  --color-primario: #004936;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F5F5ED;
  }
}

.verde {
  color: #004936;
  margin-left: 4vw;
  top: 40%;
  position: absolute;
  margin-top: -5vw;
}

nav , .hero h1 , .servicios , .proyectos h2, .logo h3{
   font-family: 'Gambarino', serif;
   font-weight: normal;
}

.logo h3 {
  font-size: 1.5em;
  position: absolute;
  color: #004936;
  width: 150;
}

.w-line {
  height: 2px;
}

.servicio-desc{
  margin-left: 4vw;
  font-family: 'General Sans', sans-serif; 
    position: absolute;
  left: 50%;
  margin-top: -23vw;
}

.servicios::before, .contacto::before {
  content: "2";
  width: 20px;
  height: 130px;
  top: -20px;
  position: relative;
  background-color: #004936;
}

.servicios::after {
  content: "";
height: 130px;

  background-color: #004936;
}

body {
  background-color: #F5F5ED;
  color: var(--foreground);
  font-family: 'General Sans', sans-serif; 
  color: var(--foreground);
}

.bg-verde {
  background-color: #004936;
}

nav li {
  border-radius: 10px;
    padding-left: 11px;
    
}

nav a {
  color: #004936;
}

nav a:hover {
  border-bottom: 1px solid #9ec8f3;
}

.hero {
  color:  var(--color-primario);
}

.servicios {
  z-index: 2;
  background-color: #F5F5ED;
  color: var(--color-primario);
}

.proyectos {
  background-color: #F5F5ED;
  color: var(--color-primario);
  
}

.contacto{
  background-color: #9EC8F3;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
