@import "tailwindcss";

@font-face {
  font-family: 'Gambarino';
  src: url('/fonts/Gambarino-Regular.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('/fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('/fonts/GeneralSans-Semibold.otf') format('opentype');
  font-weight: bold;
  font-style: bold;
}

:root {
  --background:  #004936;
  --foreground: #F5F5ED;
  --redee: #f52ae7; 
  --color-primario: #004936;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:  #004936;
    --foreground: #F5F5ED;
  }
}

.font-base {
 font-family: 'General Sans';
}

.font-title {
 font-family: 'Gambarino';
}

nav , .servicios , .proyectos h2 {
   font-family: 'Gambarino', serif;
   font-weight: normal;
}

.servicios-titulo{
  font-family: 'General Sans', sans-serif; 
  font-weight: bold;
}

.logo-text {
  font-size: 1.1em;
  position: absolute;
  color: #004936;
  width: 170px;
}

.w-line {
  height: 2px;
}

.servicio-desc{
  margin-left: 4vw;
  font-family: 'General Sans', sans-serif; 
    position: absolute;
  left: 50%;
  margin-top: -23vw;
}



body {
  background-color: #F5F5ED;
  color: var(--foreground);
  font-family: 'General Sans', sans-serif; 
  color: var(--foreground);
}

.bg-verde {
  background-color: #004936;
}

nav li {
  border-radius: 10px;
    padding-left: 11px;
    
}

nav a {
  color: #004936;
}

nav a:hover {
  border-bottom: 1px solid #9ec8f3;
}

.hero {
 min-height: 101vh;
  color:  var(--color-primario);
}

.servicios {
  z-index: 2;
  background-color: #F5F5ED;
  color: var(--color-primario);
}

.proyectos {
  background-color: #F5F5ED;
  color: var(--color-primario);
}

.contacto{
  color: var(--background);
  padding-top: 100px;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
